@import "tailwindcss";
@plugin "daisyui";

@keyframes float {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.animate-float {
  animation: float 10s linear infinite;
}


@layer components {
  .hover-effect {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .hover-effect:hover {
    transform: scale(1.05);
    color: #ffed4a; 
  }

  .btn:hover {
    background-color: #4CAF50; 
    transform: scale(1.1);
  }
  
  .card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
}
